$main_black: #1a1916;
$black: #000;
$sub_black: #524e4d;
$white: #fff;
$white-sub: #fefefe;
$red: #7f0019;
$yellow:#f8e3a6;
$blue: #1f2774;
$grey: #ddd;
$border_color: #524e4d;
$border_card_color: #A9A9A9;
$bg-white:rgba(255, 255, 255, 0.8);
$font_base: 'Noto Sans JP',sans-serif;
$font_sub: noto-sans-cjk-jp, sans-serif;

